html {
  height: 100%
}
.logo{
  max-width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

body.dark {

  background-color: #3f4652;
  background-image: url(img/bg_tiles.2.jpg);
  background-size: cover;
  background-position: 0 0
}
.authPage {
  min-height: 100%;
  -webkit-perspective: 400px;
          perspective: 400px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-height:700px) {
  .authPage {
    position: relative;
  }
}

.login-wrap{
display: block;
margin:auto;
max-width:510px;
max-height:510px;
position: absolute;
background:url(img/bgform.jpg) no-repeat center;
background-size: cover;
-webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
        box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
top: 0;
left: 10px;
right: 10px;
bottom: 0;
overflow: hidden;
}
.login-html{
width:100%;
height:100%;
position:absolute;
padding:40px 70px 50px 70px;
background:rgba(162, 162, 162, 0.5)
}
.login-html .sign-in-htm,
.login-html .for-pwd-htm{
top:0;
left:0;
right:0;
bottom:0;
position:absolute;
-webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);
-webkit-backface-visibility:hidden;
        backface-visibility:hidden;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
text-transform:uppercase;
}
.login-html .tab{
font-size:22px;
margin-right:15px;
padding-bottom:5px;
margin:0 15px 10px 0;
display:inline-block;
border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
color:#fff;
border-color:#1161ee;
}
.login-form{
min-height:345px;
position:relative;
-webkit-perspective:1000px;
        perspective:1000px;
-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
}
.login-form .group{
margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
width:100%;
color:#fff;
display:block;
}
.login-form .group .input,
.login-form .group .button{
border:none;
outline: none;
padding:15px 20px;
border-radius:25px;
background:rgba(66, 66, 66, 0.18);
}
.login-form .group input[data-type="password"]{
text-security:circle;
-webkit-text-security:circle;
}
.login-form .group .label{
color:#000;
font-size:12px;
}
.login-form .group .button{
background:#1161ee;
}
.login-form .group label .icon{
width:15px;
height:15px;
border-radius:2px;
position:relative;
display:inline-block;
background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
content:'';
width:10px;
height:2px;
background:#fff;
position:absolute;
-webkit-transition:all .2s ease-in-out 0s;
transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
left:3px;
width:5px;
bottom:6px;
-webkit-transform:scale(0) rotate(0);
        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
top:6px;
right:0;
-webkit-transform:scale(0) rotate(0);
        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
color:#fff;
}
.login-form .group .check:checked + label .icon{
background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
-webkit-transform:scale(1) rotate(45deg);
        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
-webkit-transform:scale(1) rotate(-45deg);
        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
-webkit-transform:rotate(0);
        transform:rotate(0);
}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
-webkit-transform:rotate(0);
        transform:rotate(0);
}

.hr{
height:2px;
margin:60px 0 50px 0;
background:rgba(255,255,255,.2);
}
.foot-lnk{
text-align:center;
}
@media (max-width: 767px){
.login-html{
  padding: 20px;
}
.login-html .tab{
  font-size: 15px;
}
.hr{
  margin: 15px 0;
}
.login-wrap{
  max-height: 450px
}
}
